.col{
	width: 400px;
	height: 450px;
	background-color:#AFEEEE;
	
	text-align: center;

}
.col{
	width: 400px;
	height: 450px;
	background-color:#AFEEEE;
	
	text-align: center;

}


input[type="text"], input[type="password"], input[type="card"],input[type="nomber"]{
width: 300px;
height: 30px;
font-size: 20px;
text-align: center;
color: #03fcc6;

}


input[type="submit"]{

color: #03fcc6;
background-color: #0742e6;
width: 300px;
height: 30px;
}