<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
<menu>
    <add
            id="Vika Modul::coupon"
            title="Coupon"
            module="Vika Modul"
            sortOrder="51"
            resource="Vika Modul::coupon"
            parent="Vika Modul::coupon"
    />
</menu>
</config>